nav,
.content {
  max-width: 930px;
  margin: 0 auto;
  margin-bottom: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 8px 16px;

  h1 {
    text-align: center;
  }
}

figure {
  margin: 0;
  padding: 0;
}
