.model-item {
  padding: 15px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;

  h2 {
    font-size: 2rem;
  }

  &:hover {
    text-decoration: none;
    color: $black;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.model-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-item {
  display: flex;
  gap: 20px;

  img {
    max-height: 100px;
    display: inline-block;
  }

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}