.model-item {
  padding: 15px;
  border: 1px solid #ddd;
  text-decoration: none;
  color: #333;
  background-color: #fff;
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  figure {
    @include center-grid
  }

  img {
    max-height: 100px;
  }

  & > div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 68%;

    p { margin: 0; }
  }

  h2 {
    font-size: 2rem;
    margin: 0;
  }

  &:hover {
    text-decoration: none;
    color: $black;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
}

.model-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.alert p {
  margin: 0;
}

.badge {
  margin: 10px 0;
  max-width: 200px;
}

.loanbook {
  form {
    width: auto;
    display: grid;
    place-items: center;
  }

  img {
    max-height: 150px;
  }

  .loanbook-info {
    width: auto;
  }
}

@media only screen and (max-width: 640px) {
  .model-item {
    justify-content: center;
    text-align: center;
    
    & > div {
      width: auto;
    }
  }

   .badge {
    max-width: 100%;
  }
}

