.btn-options {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;

  .btn, .button_to {
    flex: 1;
    min-width: 250px;
  }

  .btn-danger {
    width: 100%;
  }
}

.user {
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

  img {
    flex: 2;
    max-width: 300px;
    min-width: 200px;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
  }

  p {
    margin: 0;
  }

  h2 {
    margin: 0 0 15px 0;
  }
}