<div id="<%= dom_id user %>" class="model user">
  <figure>
    <img src="https://cdn-icons-png.flaticon.com/512/8214/8214212.png" alt="default-user-icon">
  </figure>
  <div class="info">
    <p>
      <strong>Name:</strong>
    </p>
    <h2><%= user.name %></h2>

    <p>
      <strong>Email:</strong>
    </p>
    <h2><%= user.email %></h2>

    <% if user.waiting_to_return? %>
      <%= link_to "Book pending to return", loan_books_path, class:"badge badge-pill badge-warning" %>
    <% end %>
  </div>

</div>
