<h1>Editing user</h1>

<%= render "form", user: @user %>

<div class="btn-options">
  <%= link_to "Show this user", @user, class: "btn btn-success" %>
  <%= link_to "Back to users", users_path, class: "btn btn-secondary" %>
</div>
