<h1>Users</h1>

<%= link_to new_user_path, class: "btn btn-primary btn-add" do %>
  <i class="fas fa-plus"></i>
  <span class="btn-add-text">Add new user</span>
<% end %>

<div id="users" class="model-container ">
  <% @users.each do |user| %>
    <%= link_to user, class: "model-item user-item" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/8214/8214212.png">
      <div>
        <h2> <%= user.email %> </h2>
        <% if user.waiting_to_return? %>
          <span class="badge badge-pill badge-warning">Book pending to return</span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>
<%== pagy_nav(@pagy) %>


