<h1>Users</h1>

<div id="users" class="model-container ">
  <% @users.each do |user| %>
    <%= link_to user, class: "model-item user-item" do %>
      <img src="https://cdn-icons-png.flaticon.com/512/8214/8214212.png">
      <div>
        <h2> <%= user.email %> </h2>
        <% if user.waiting_to_return? %>
          <span class="badge badge-pill badge-warning">Book pending to return</span>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to "New user", new_user_path, class: "btn btn-primary" %>
