<div id="<%= dom_id book %>">
  <h2>
    <%= book.name %>
  </h2>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Published on:</strong>
    <%= book.release_date.strftime("%d %B of %Y") %>
  </p>

</div>
