<h1>Editing book</h1>

<%= render "edit_form", book: @book %>

<div class="btn-options">
  <%= link_to "Show this book", @book, class: "btn btn-success" %>
  <%= link_to "Back to books", books_path, class: "btn btn-secondary" %>
</div>
