<h1>Loan books</h1>

<div id="loan_books" class="model-container">
  <% @loan_books.each do |loan_book| %>
    <%= render loan_book %>
  <% end %>
</div>

<%== pagy_nav(@pagy) %>

<%= link_to "New loan book", new_loan_book_path, class: "btn btn-primary" %>
