<div id="<%= dom_id category %>" class="model category">
  <figure>
    <img src="https://cdn.icon-icons.com/icons2/827/PNG/512/stack_icon-icons.com_66542.png" alt="default-category-icon">
  </figure>
  <div class="info">
    <h3>
      <strong>
        <%= category.name %>
      </strong>
    </h3>

    <p>
      <i>
        <%= category.description %>
      </i>
    </p>

    <p>
      <strong>Books:</strong>
      <i>
        <% category.books.each do |book| %>
          <%= book.name %> | 
        <% end %>
      </i>
    </p>
  </div>

</div>
